* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #F4F5F7;
    margin: 0px;
    overflow-x: hidden;
}

nav {
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 0.75rem;
}
ul {
    list-style: none;
    margin: auto;
    position: relative;
    display: inline-flex;
    
}

li {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    padding-top: auto;
    font-size: 1rem;
}

.company_title {
    font-size: 2rem;
    font-weight: 700;
}

a {
    padding: 0.75rem;
}

.summary {
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 2rem;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
}

.container {
    padding-left: 1.5rem;
    margin: 0;
    display: inline-flex;
    width: 100%;    
}

.info {
    width: 20%;
    background-color: white;
    border-radius: 18px;
    position: relative;
    margin-left: 2rem;
    padding-left: 1rem;
    height: fit-content;
    padding-top: auto;
    padding-bottom: auto;
}

.header {
    background-color: #e1dfe6;
    text-align: left;
    padding-left: 1rem;
}

table, td, tr, th {
    border-collapse:collapse;
    border: 1px solid black;

}

table {
    width: 80%;
    margin-bottom: 1rem;
}

td {
    width: 50%;
}

.main {
    margin-top: 2rem;
    width: 91%;
    background-color: white;
    border-radius: 18px;
    margin-left: 3.5rem;
    padding-bottom: 3rem;

}

.cases {
    padding-top: 1rem;
    padding-left: 2rem;
}
.data {
    width: 95%;
    position: relative;
    margin: 0 auto;
}

.search {
    border-radius: 5px;
    background-color: #e1dfe6;
    width:max-content;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
}

 