.line {
    margin: 0.5rem 0;
}


.inputcollection {
    display: inline-flex;
}

.inputs {
    margin: 0 0.5rem;
}

/* Input text field Styling */
.inputText {
    margin: 0.25rem 1rem 1.25rem 0;
    padding: 0px 0 0 1rem;
    font-size: 1.5rem;
    border: 0.1rem solid #d2d2d2;
    border-radius: 10px;
}

.either {
    font-style: italic;
    color: lightgray;
}

/* Reset Button Styling */
.reset {
    display: inline-flex;
    align-items: center; 
    margin: auto 0.5rem;
    display: block;
    border: 0.1rem solid #d2d2d2;
    border-radius: 10px;
    width: 10%;
}

/* Submit Button Styling */
.submit {
    font-size: 1rem;
    font-weight: 700;
    border: 0.1rem solid #d2d2d2;
    border-radius: 10px;
    width: 10%;
}